.word-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.word-cloud span {
  margin: 5px;
  padding: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, font-size 0.2s ease;
}

.word-cloud span:hover {
  transform: scale(1.2);
}

