Django==5.2
djangorestframework==3.14.0
pandas==2.2.3
numpy==2.2.4
matplotlib==3.6.2
pyyaml==6.0
openai==1.73.0
python-dotenv==0.21.0
scikit-learn==1.6.1
imbalanced-learn==0.13.0
django-cors-headers==3.10.0
cython==0.29.24
